<div>
    <div class="box">
        <label class="label">Search</label>
        
          
          <div class="box">
              <p class="note">First product</p>
            <div class="field has-addons">
              <input #box1 class="input" type="text" placeholder="e.g. Laptop" (keyup.enter)="onEnter(box1.value)">
              <p class="control">
                  <input class="input" type="number" placeholder="no. of products">
              </p>
            </div>
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="number" placeholder="min. price">
                </p>
                <p class="control">
                    <input class="input" type="number" placeholder="max. price">
                 </p>
            </div>
            
          </div>
        
          
          <div class="box">
              <p class="note">Second product</p>
              <div class="field has-addons">
                  <input #box2 class="input" type="text" placeholder="e.g. Laptop" (keyup.enter)="onEnter(box2.value)">
                  <p class="control">
                      <input class="input" type="number" placeholder="no. of products">
                  </p>
              </div>
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="number" placeholder="min. price">
                </p>
                <p class="control">
                    <input class="input" type="number" placeholder="max. price">
                 </p>
            </div>
            
          </div>
          
          
          <div class="box">
              <p class="note">Third product</p>
              <div class="field has-addons">
                  <input #box3 class="input" type="text" placeholder="e.g. Laptop" (keyup.enter)="onEnter(box3.value)">
                  <p class="control">
                      <input class="input" type="number" placeholder="no. of products">
                  </p>
              </div>
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="number" placeholder="min. price">
                </p>
                <p class="control">
                    <input class="input" type="number" placeholder="max. price">
                 </p>
            </div>
              
          </div>
          
          <div class="box">
              <p class="note">Fourth product</p>
              <div class="field has-addons">
                  <input #box4 class="input" type="text" placeholder="e.g. Laptop" (keyup.enter)="onEnter(box4.value)">
                  <p class="control">
                      <input class="input" type="number" placeholder="no. of products">
                  </p>
              </div>
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="number" placeholder="min. price">
                </p>
                <p class="control">
                    <input class="input" type="number" placeholder="max. price">
                 </p>
            </div>
              
          </div>
          
          <div class="box">
              <p class="note">Fifth product</p>
              <div class="field has-addons">
                  <input #box5 class="input" type="text" placeholder="e.g. Laptop" (keyup.enter)="onEnter(box5.value)">
                  <p class="control">
                      <input class="input" type="number" placeholder="no. of products">
                  </p>
              </div>
            <div class="field has-addons">
                <p class="control">
                    <input class="input" type="number" placeholder="min. price">
                </p>
                <p class="control">
                    <input class="input" type="number" placeholder="max. price">
                 </p>
            </div>
              
          </div>
          <div class ="box">
            <p class="label">About whole search:</p>
            <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    The best saller rating
                  </label>
                </div>
            </div>       
            
              <a class="button is-focused" (click)="onClickMe()">Submit</a>
                
            
          </div> 
    </div>
  
  <p *ngFor="let value of ceneoApiInfo">
    {{value}}
  </p>
  <p *ngFor="let v of input">
    {{v}}
  </p>
  

</div>

